@model Testimonial

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Referans Girişi</h5>
        </div>
        <form method="post">
            <label for="NameSurname" class="form-label">Ad - Soyad</label>
            <input type="text" class="form-control mb-3" asp-for="NameSurname" />
            <br />
            <label for="Title" class="form-label">Ünvan</label>
            <input type="text" class="form-control mb-3" asp-for="Title" />
            <br />
            <label for="CommentDetail" class="form-label">Yorum</label>
            <input type="text" class="form-control mb-3" asp-for="CommentDetail" />
            <br />

            <label for="ImageUrl" class="form-label">Görsel Url</label>
            <input type="text" class="form-control mb-3" asp-for="ImageUrl" />
            <br />

            <button type="submit" class="btn btn-primary"> Referansı Kaydet </button>
        </form>
    </div>
</div>
