<section class="service-details pb-60 p-relative fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-left">
                    <h5>🛡️ Sigorta Poliçesi</h5>
                    <p>Size özel çözümlerle hayatınızı güvence altına alın. Geniş kapsamlı poliçelerimizle yanınızdayız.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-up" data-aos-duration="1000">
                    <h5>💳 Doğrudan Ödeme</h5>
                    <p>Hasar anında hızlı ve doğrudan ödeme süreçleriyle zaman kaybetmeyin. Güvenilir destekle her adımda yanınızdayız.</p>
                    <a href="#" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="services-box01 mb-30" data-aos="fade-right">
                    <h5>📞 7/24 Destek</h5>
                    <p>Her zaman yanınızda olan müşteri destek ekibimizle sorularınıza anında çözüm bulun. Biz buradayız!</p>
                    <a href="#" class="mt-15 hover-underline-animation">Detaylı Bilgi</a>
                </div>
            </div>

        </div>
    </div>
</section>