@model string
@{
    ViewData["Title"] = "CreateImageWithOpenAI";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">OpenAI ile görsel oluşturma</h5>
        </div>
        <form method="post">
            <label for="propmtName" class="form-label">Prompt Girişi Yapınız : </label>
            <input type="text" class="form-control mb-3" name="prompt"  required/>
            <br />
            <button type="submit" class="btn btn-primary"> Görsel oluştur </button>
        </form>

        @ViewBag.error
        @if (Model != null)
        {
            <h3>oluşturulan Görsel</h3>
            <img src="@Model" alt="OpenAI Görseli" style="max-width:512px;" />
        }
    </div>
</div>
