@model Message
@{
    ViewData["Title"] = "UpdateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Örnek Mesaj Güncelleme</h5>
        </div>
        <form method="post">
            <input type="hidden"  asp-for="MessageId" />
            <label for="NameSurname" class="form-label">Gönderici Adı Soyadı Adı</label>
            <input type="text" class="form-control mb-3" asp-for="NameSurname" />
            <br />
            <label for="Email" class="form-label">Gönderici Email Adresi</label>
            <input type="email" class="form-control mb-3" asp-for="Email" />
            <br />

            <label for="Subject" class="form-label">Konu</label>
            <input type="text" class="form-control mb-3" asp-for="Subject" />
            <br />

            <label for="MessagetDetail" class="form-label">Detail</label>
            <input type="text" class="form-control mb-3" asp-for="MessagetDetail" />
            <br />

            <button type="submit" class="btn btn-success"> Mesajı Kaydet </button>
        </form>
    </div>
</div>
