@model Service
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Fiyat Plan Girişi</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="ServiceId"/>
            <label for="Title" class="form-label">Başlık</label>
            <input type="text" class="form-control mb-3" asp-for="Title" />
            <br />
            <label for="Description" class="form-label">Açıklama</label>
            <input type="text" class="form-control mb-3" asp-for="Description" />
            <br />

            <label for="ImageUrl" class="form-label">Görsel Url</label>
            <input type="text" class="form-control mb-3" asp-for="ImageUrl" />
            <br />

            <label for="IconUrl" class="form-label">İkon Url</label>
            <input type="text" class="form-control mb-3" asp-for="IconUrl" />
            <br />

            <button type="submit" class="btn btn-success"> Hizmeti Kaydet </button>
        </form>
    </div>
</div>
